body{background:#fff;font-family: Arial, cursive;margin:0;padding:0;}

.contentWraper{margin:0 auto;padding:0;overflow:hidden;position:relative;}
h1{margin:0 auto;border-bottom:1px solid #000;color:#000;padding:10px;width:900px;box-sizing: border-box;}
h1 span{font-style:italic;font-size:14px;padding-left:10px;font-family:Times, serif;font-weight:normal;}

.presentation{font-size:14px;max-width:500px;margin:10px 0;}

ul {padding: 0;}
ul li{display:block;margin:0;color:#000;text-decoration:none;font-size:14px;cursor: pointer;}
ul li strong{text-decoration:underline;font-size:20px;}



footer {width: 900px; margin: 0 auto;}

.menu{background:#000;color:#fff;padding:5px;}
.menu span{display:block;margin: 0 auto;width: 900px;color:#fff;text-decoration:none;cursor: pointer;}

::-moz-selection{background:#f00;color:#fff;border-radius:5px;}
::selection {background:#f00;color:#fff;border-radius:5px;}

.win{background:#ecd854;
-webkit-transition:background .6s ease-in;
-moz-transition:background .6s ease-in;
-o-transition:background .6s ease-in;
transition:background .6s ease-in;
}
.win .letter{background:#fff299;}

.next{display:none;width:400px;margin:30px auto;border:1px solid #000;border-radius:10px;cursor:pointer;color:#000;text-decoration:none;
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9));
  background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
  background: -o-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
  background: -ms-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
  background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
}
.win .next{display:block;text-align:center;padding:10px 0;font-size:20px;text-transform:uppercase;}
.win .next:focus{outline:5px solid #000;}


.loose{background:#222;
-webkit-transition:background .6s ease-in-out;
-moz-transition:background .6s ease-in-out;
-o-transition:background .6s ease-in-out;
transition:background .6s ease-in-out;
}
.loose .letter{background:#555;}
.loose .proposaletter{opacity:0.2;}
.loose .progressBar{border-bottom:#000;background:#000;}
.loose .progressBar .bar{border-top:#000;background:#222;}

.progressBar{display:block;width:100%;height:4px;border-bottom:1px solid #aaa;background:#fff;}
.progressBar .bar{height:3px;background:#000;display:block;border-top:1px solid #aaa;
  background: #006e2e;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#006e2e), color-stop(100%,#006e2e));
  background: -webkit-linear-gradient(left, #006e2e 0%,#006e2e 100%);
  background: -o-linear-gradient(left, #006e2e 0%,#006e2e 100%);
  background: linear-gradient(to right, #006e2e 0%,#006e2e 100%);
}

p{font-size:3em;margin:0;}

.randItem{position:absolute;z-index:2;display:none;}

.key{font-size:100px;text-align:center;display:block;font-weight:bold;margin-bottom:30px;}
.finish{font-size:3em;text-align:center;display:block;font-weight:bold;margin-bottom:30px;padding:20px 0;display:block;}
.finish .next{display:block;font-size:0.5em;padding:10px 30px;}
.propal{display:block;text-align:center;margin-bottom:10px;}
.letter{display:inline-block;border:1px solid #555;width:25px;height:35px;margin-bottom:5px;margin-left:4px;text-align:center;font-weight:bold;font-size:20px;white-space:nowrap;cursor:pointer;text-transform:uppercase;}
.letter:focus{outline: none;}
.letter.focused,
.letter.focused:focus{outline:5px solid #000;}
.hideLetter{color:#fff;}

.options{display:block;text-align:center;margin:0;padding:0;}
.options li{display:inline-block;list-style:none;margin-right:10px;}
.options li a{color:#555;font-size:10px;}

.proposal{border-top:1px solid #555;padding:10px 50px 60px;text-align:center;text-transform:uppercase;}
.proposaletter{display:inline-block;margin-bottom:5px;font-weight:bold;font-size:25px;color:#000;height:30px;margin-right:5px;width:30px;text-align:center;border:1px solid #999;cursor:pointer;line-height:33px;border-radius:6px;vertical-align:top;
background: #f2f6f8;box-shadow:0 0 3px #ccc;text-shadow:0 0 2px #555;
background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
}
.locked,
.proposaletter.locked:hover,
.proposaletter.locked:focus {
  color: #eee;
  opacity: 0.4;
  background: #f2f6f8; box-shadow:0 0 5px #555;text-shadow:0 0 2px #555;
  background: linear-gradient(to bottom, #888 0%,#565 50%,#565 51%,#888 100%);
  cursor: not-allowed;
}


.proposaletter:hover,
.proposaletter:focus{color:#fff;
background: #3b679e;box-shadow:0 0 0 #000;
background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
}

@media (max-width:480px){
	.proposal{padding:0 5px;}
}

footer{clear:both;}
footer .lk{font-size:11px;color:#666;text-decoration:underline;text-indent:10px;display:block;cursor:pointer;}

.lk{clear:both;display:block;padding:5px;color:#555;font-size:30px;position:relative;}


.h{display:none;}
